# MANAGED BY ANSIBLE
127.0.0.1   localhost
127.0.1.1   {{ hostwars[host].ansible_facts.hostname }}
{% for host in groups['k8s_masters'] %}
{{ hostvars[host].ansible_default_ipv4.address }}    {{ hostvars[host].ansible_facts.hostname }} 
{% endfor %}
{% for host in groups['k8s_workers'] %}
{{ hostvars[host].ansible_default_ipv4.address }}    {{ hostvars[host].ansible_facts.hostname }}
{% endfor %}

# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters